* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  scroll-behavior: smooth; 
}

img{
  background-size: 100%;
  position: relative;

}


body{
  font-family: Arial;
  font-size: 16px;
}

main{
  margin-top: 56px;
  min-height: calc(100vh - 100px);
  }

  footer{
    height: 44px;
    background-color: silver;
  text-align: center;
  }
  
  img{
    height: 100%;
    width: auto;
  }

footer{
  color: white;
  text-align: center;
  padding: 10px;
}
  